dayOfWeek.dtd

<!-- DayOfWeek Perspective -->
<!ELEMENT d_dayofWeek (d_period, d_instructor, d_room, d_course)>
<!ATTLIST day 
    dayOfWeek (1|2|3|4|5) #REQUIRED
>

<!ELEMENT d_period (#PCDATA)>
<!ATTLIST d_period
    time (830|930|1030|1130|1230|1330|1430|1530|1630) #REQUIRED
    >

<!ELEMENT d_course (#PCDATA)>
<!ELEMENT d_instructor (#PCDATA)>
<!ELEMENT d_room (#PCDATA)>
