lab7.dtd


<!ELEMENT course (period*, day*, instructor*, room*, course*)>


<!ELEMENT dayOfWeek (period+)>
<!ATTLIST day
    day (1|2|3|4|5) #REQURIRED
  >

<!ELEMENT period (dayOfWeek, course, instructor, room, course)>
<!ATTLIST time
    period (830|930|1030|1130|1230|1330||1430|1530|1630) #IMPLIED
  >
  

<!ELEMENT instructor (#PCDATA)>


<!ELEMENT room (#PCDATA)>



