period.dtd

<!-- Period Perspective -->
<!ELEMENT p_period (p_dayOfWeek, p_instructor, p_room, p_course)>
<!ATTLIST time 
    period (830|930|1030|1130|1230|1330||1430|1530|1630) #IMPLIED
>

<!ELEMENT p_dayOfWeek (#PCDATA)>
<!ATTLIST day
    day (1|2|3|4|5) #REQURIRED
>

<!ELEMENT p_instructor (#PCDATA)>
<!ELEMENT p_room (#PCDATA)>
<!ELEMENT p_course (#PCDATA)>